@import "../../../../theme/colors";
@import "../../../../theme/sizes";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,700");

/* Notes */
.note,
.ParentContact {
  height: 250px;
  position: relative;
  padding: 7%;

  .actions {
    text-align: right;
    opacity: 0;
  }

  &:hover {
    .actions {
      opacity: 1;
    }
  }

  .body {
    font-size: 1.2em;
  }

  .date {
    position: absolute;
    bottom: 5%;
    width: 85%;
    text-align: right;
  }
}
.Bio,
.Bio2 {
  height: 300px;
  position: relative;
  padding: 5%;
  top: 0%;
  text-align: left;
  .Bio {
    margin-left: -9%;
    margin-top: -50px;
    .bioHeader{
      font-weight:bold;
      font-size:20px;
      font-family:Roboto Slab;
    }
    .bioBody {
      font-size: 14px;
    }
  }
  .BioBackground {
    background-color: $bioBackgroundColor;
    padding: 2%;
    position: relative;
    top: 0%;
    margin-top: -52px;
    margin-right: -52px;
      .rowPadding {
        padding: 3%;
        display: relative;
        align-content: left;
        .bioDescription{
          font-weight:500;
          font-size:16;
          padding-right:10px;
        } 
    }
    .chipPadding{
      padding-left:5px;
      padding-right:5px;
        
    .bioChip {
      margin-top: -4px;
      background-color: $bioChipColor;
      border-color:$bioBorderColor;
    }
  }
  }
}
.ParentContact {
  .parent-header {
    position: absolute;
    padding: 5%;
    background-color: $primaryColor;
    width: 100%;
    top: 0;
    left: 0;
    .header-text {
      margin-left: 20px;
      color: white;
      font-size: 20px;
    }
  }
  .actions {
    text-align: right;
    opacity: 0;
    margin-top: 40px;
  }

  .bodyText {
    font-size: 15px;
    .bold {
      font-weight: 900;
    }
  }
}
/* Instructor Courses */
.accounts-table-heading,
.accounts-table-row > * {
  padding: 15px;
}

.accounts-table-heading {
  margin-bottom: 10px;
  background-color: $primaryColor;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.accounts-table-row {
  position: relative;
  &:hover {
    border-left: solid 5px $primaryColor;
  }
}

.sessions-left-chip {
  position: absolute;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 5px;
  top: 23%;
  right: 6%;

  color: $secondaryLightFontColor;

  &.good {
    background-color: $goodStatusColor;
  }

  &.warning {
    background-color: $warningStatusColor;
  }

  &.bad {
    background-color: $badStatusColor;
  }
}
