@import '../../../theme/colors';
@import '../../../theme/sizes';
/*Registration*/

//Full Registration styles
.paper{
  margin: 3% 0 0 0;
}
.registration-action-control{
  padding: 1%;

  .button{


    @include respond-to(medium-up-screens){
      margin-right:30px;
      height: 46px;
      width: 145px;
    }
    @include respond-to(handhelds){
      margin-right:4px;
      height: 46px;
      width: 105px;
    }

    color:$primaryFontColor;
    font-size:12px;
    font-weight:400;
    line-height:12px;
    text-transform: none;

    border: 1px solid #DBD7D7;
    box-sizing: border-box;
    border-radius: 7px;

    .icon{
      margin-right:4px;
      color:$secondaryFontColor;
      @include respond-to(handhelds){
        font-size:1.5em;
      }
    }
  }
}