@import '../../../theme/colors';
@import '../../../theme/sizes';
/*Registration*/

.registration-action-control{
  padding: 1%;

  .button{
    @include respond-to(medium-up-screens){
      margin-right:30px;
      height: 46px;
      width: 145px;
    }
    @include respond-to(handhelds){
      margin-right:4px;
      height: 46px;
      width: 105px;
    }

    color:$primaryFontColor;
    font-size:12px;
    font-weight:400;
    line-height:12px;
    text-transform: none;

    border: 1px solid #DBD7D7;
    box-sizing: border-box;
    border-radius: 7px;

    .icon{
      margin-right:4px;
      color:$secondaryFontColor;
      @include respond-to(handhelds){
        font-size:1.5em;
      }
    }
  }
}

//Full Registration styles
.paper{
  margin: 3% 0 2% 0;
}
.course-categories{
  position:relative;
  //Controls
  .control{
    display:none;
    position:absolute;
    top:40%;
    border: $lightPrimaryFontColor solid 1px;
    border-radius:100%;
    color: $lightPrimaryFontColor;
    font-size:2.5em;
    opacity:1;
  }
  .forward{
    right:10px;
  }
  .back{
    left:10px;
  }
  .visible{
    display:block;
  }

  .control:hover{
    display:block;
    background-color:white;
    color:black;
    cursor:pointer;
    opacity:100;
  }

  //Card
  .category-card{
    margin-left:7%;
    width:87%;
    .media{
      height:100px;
    }
    .text *{
      text-align:left;
      text-overflow:ellipsis;
    }
  }
}
