@import '../../../theme/colors';
@import '../../../theme/sizes';
/*Registration*/

.registration-action-control{
  padding: 1%;

  .button{
    @include respond-to(medium-up-screens){
      margin-right:30px;
      height: 46px;
      width: 145px;
    }
    @include respond-to(handhelds){
      margin-right:4px;
      height: 46px;
      width: 80px;
    }

    color:$primaryFontColor;
    font-size:12px;
    font-weight:400;
    line-height:12px;
    text-transform: none;

    border: 1px solid #DBD7D7;
    box-sizing: border-box;
    border-radius: 7px;

    .icon{
      margin-right:4px;
      color:$secondaryFontColor;
      @include respond-to(handhelds){
        font-size:1.5em;
      }
    }
  }
}

//Full Registration styles
.paper{
  margin: 4% 0 2% 0;
}
.course-categories{
  position:relative;
  //Controls
  .control{
    display:none;
    position:absolute;
    border: $lightPrimaryFontColor solid 1px;
    border-radius:100%;
    color: $lightPrimaryFontColor;
    font-size:1.4em;
    opacity:1;
    z-index:10000;
  }
  .forward, .back{
    top:40%;
  }
  .forward{
    right:4px;
  }
  .back{
    left:8px;
  }
  .expand, .shrink{
    bottom:-25px;
    left:47%
  }
  .visible *{
    display:block;
  }

  .control:hover{
    display:block;
    background-color:white;
    color:black;
    cursor:pointer;
    opacity:100;
  }

  //Card
  .category-card{
    margin-left:7%;
    width:87%;
    .media{
      height:100px;
    }
    .text *{
      text-align:left;
      text-overflow:ellipsis;
    }
  }
}

/*Registration Form Styles*/
.exit-popup{
  @include respond-to(handhelds){
    top:35%;
    left:5%;
    width:90%;
  }
  @include respond-to(medium-up-screens){
    top:35%;
    left:37%;
  }

  padding:3%;
  height:176px;
  position:absolute;
  outline:none;
  background-color:white;
  border-radius:8px;

  .button{
    text-align:center;
    @include respond-to(handhelds){
      margin:10% 15px 0 0;
      width:45%;
    }
    @include respond-to(medium-up-screens){
      margin:15% 5px 0 0;
    }
  }
  .button.primary{
    background-color:$secondaryColor;
    color:white;
  }
  .button.primary:hover{
    background-color:$secondaryDarkenColor;
  }
}

.registration-form{
  position:relative;
  border-radius: 32px !important;
  padding:2%;
  margin-top: 4%;

  .control{
    cursor:pointer;
    position: absolute;
    color:$lightPrimaryFontColor;

    .icon, .back, .label{
      display:inline-block;
      @include respond-to(handhelds){
        margin-top:15px;
      }
    }
    .icon{
      @include respond-to(handhelds){
        margin-left:10px;
      }
    }
    .label{
      position:relative;
      top:-7px;
      font-style: normal;
      font-weight: bold;
      line-height: 13px;
    }
  }

  .heading{
    margin-top:50px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 42px;
    display: flex;
    align-items: center;

    @include respond-to(handhelds){
      margin-left:3%;
    }
  }

  .form-section{
    text-align:left;
  }

  .error{
    color:red;
    border: red solid 1px;
    border-radius: 5px;
  }

  .controls{
    position:relative;
    left:80%;
    width:28%;

    .button{
      margin:5px;
    }
    .hide{
      opacity:0;
    }
    .label{
      font-style:italic;
      color:red;
    }
  }
}

.label{
  margin-left:5px;
  margin-right:5px;
}