# dependencies
node_modules/
/.pnp
.pnp.js
package-lock.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintrc.js

# Project Workspace specific files
/.idea
.eslintrc.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
dist/
aws-exports.js
awsconfiguration.json

# cypress evidence
cypress/videos/
cypress/screenshots/

/.vscode/*