@import '../../theme/colors';
@import '../../theme/sizes';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

.price-quote-form{
  margin-top:15px;

  .price-label{
    font-weight: 600 !important;
  }
  .discount{
    color: $primaryColor !important;
  }
  .icon {
    cursor: pointer;
    margin-bottom: -6px;
    margin-right: 8px;
    &.remove{
      color: rgba(208, 0, 0, 0.82);
    }
    &.add{
      color: #008000;
    }
  }
  .discount-amount {
    color: lightgray;
    &.enable{
      color: black;
    }
  }

  .price-adjustment-wrapper{
    margin-bottom:25px;

    .price-label{
      margin-top:17px;
    }

    .price-adjustment{
      width:80%;
    }
  }

  .total-price{
    font-size: 1.5em;
  }

}

.tutoring-price-quote{
  padding-top:4%;
  padding-bottom:2%;
  .field{
    width:80%;
  }
}

.course-receipt{
  &.paper{
    padding: $paperPadding;
    background-color:white !important;
    margin-top:15px;
  }

  .course-info{
    border-right: 1px solid gray(0) !important;
  }

  .course-receipt-label{
    font-weight:500;
    color:gray(130);
    margin-top: 10px;
  }

  .button{
    margin-left: 5px;
  }
}

.select {
  width: 200px;
}
