/*Navigation Styling*/
.Navigation{
  /*App Bar Styling*/
  .OmouBar {
    z-index: 10000 !important;
  }
  /*Drawer Styling*/
  $drawerWidth: 240px;

  .OmouDrawer{
    width: $drawerWidth;
    flex-shrink: 0;
    //padding-top:4%;
  }

  .OmouMain {
    margin-left: $drawerWidth;
  }
  
  .DrawerList{
    padding-top:45%;
  }
}
