@import '../../theme/colors';
@import '../../theme/sizes';

/*Navigation Styling*/
.Navigation{
  /*App Bar Styling*/
  .OmouBar {
    z-index: 10000 !important;
  }
  /*Drawer Styling*/


  .OmouDrawer{
    //width: $drawerWidth;
  }

  .OmouMain {
    @include respond-to(handhelds){ margin-left:0;}
    @include respond-to(medium-up-screens){ margin-left:$drawerWidth; }
    padding:0 3% 0 3%;
  }
  
  .DrawerList{
    @include respond-to(handhelds){ width:0;}
    @include respond-to(medium-up-screens){ width:$drawerWidth; }

    padding-top: 45%;

    .list .listItem .text > span{
      font-weight:500;
      font-size: $navigationSize;
      color: $secondaryFontColor;
    }
    .listItem.active{
      border-radius: 0px 15px 15px 0px;
      background-color:$secondaryHighlightColor;
      .text > span{color:$secondaryHighlightFontColor;}
    }
  }
}