@import '../../theme/colors';
@import '../../theme/sizes';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

/*Navigation Styling*/
.Navigation{
  /*App Bar Styling*/
  .OmouBar {
    z-index: 10000 !important;
  }

  .title{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-decoration: none;
    color: white;
  }

  /*Drawer Styling*/
  .OmouDrawer{
    //width: $drawerWidth;
  }

  .OmouMain {
    @include respond-to(handhelds){ margin-left:0;}
    @include respond-to(medium-up-screens){ margin-left:$drawerWidth; }
    padding:5% 3% 0 3%;
  }

  .DrawerList{
    @include respond-to(handhelds){ width:0;}
    @include respond-to(medium-up-screens){ width:$drawerWidth; }

    padding-top: 45%;

    .list .listItem .text > span{
      font-weight:500;
      font-size: $navigationSize;
      color: $lightPrimaryFontColor;
    }
    .listItem.active{
      //border-radius: 0px 15px 15px 0px;
      background-color:$secondaryHighlightColor;
      .text > span{color:$secondaryFontColor;}
    }
  }

  .login {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-decoration: none;
    color: white;
    float: right;
  }
}