@import '../../theme/colors';
@import '../../theme/sizes';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

/*Navigation Styling*/
.Navigation{
  /*App Bar Styling*/
  .OmouBar {
    z-index: 10000 !important;
  }

  .title{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-decoration: none;
    color: $primaryColor;
  }

  /*Drawer Styling*/
  .OmouDrawer{
    //width: $drawerWidth;

  }

  div[class^="MuiDrawer-paperAnchorDockedLeft"]{
    border:none !important;
  }

  .OmouMain {


    @include respond-to(handhelds){ margin-left:0;}
    @include respond-to(medium-screens){ margin-left: 0 }
    @include respond-to(ipad-landscape){ margin-left: 0  ; }
    @include respond-to(wide-screens){ margin-left:$drawerWidth; }
   
    padding:5% 3% 0 3%;

    overflow-x: hidden;
  }

  .DrawerList{
    @include respond-to(handhelds){ width:0;}
    @include respond-to(medium-up-screens){ width:$drawerWidth; }
    

    padding-top: 45%;

    .listItem {
      width: 94%;
      margin:3%;
    }

    .list .listItem .text > span{
      font-weight:500;
      font-size: $navigationSize;
      color: $primaryFontColor;
    }
    .listItem.active{
      border-radius: 5px;
      background-color:$primaryLightColor;
      border: solid 2px $primaryDarkColor;
      .text > span{color:$primaryFontColor;}
      .icon > * { color: $primaryDarkColor; }
    }
  }

  .loginToggle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: $primaryFontColor;
    float: right;
    cursor:pointer;
    text-transform: capitalize;
  }
}

.DrawerList .list{
  @include respond-to(handhelds){
    padding-top:80px !important;
  }
}