/* Dashboard Styling */
.Dashboard {
    .Root {
        flex-grow: 1;
    }

    .Paper {
        height: 140;
        width: 100;
    }

    
}

.dashboard-paper {
    background-image: url("./assets/dashboard-bg.jpg");
    background-size: 100%;
    margin: 20px;
    padding: 20px;
    width: 95%;
    height: 95%;
    text-align: left;

}

.dashboard-date {
    margin-left: 10px !important;
}

.scheduler-button {
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.OP-label {
    margin-left: 10px !important;
}

.today-paper {
    background: rgba(255, 255, 255, 0.6) !important;
    height: 370px;
    margin: 10px;

    flex-shrink: 0;
}

.today-container {
    height: 300px;
    flex-shrink: 0 !important;
    overflow: hidden;
    overflow-x: scroll;
}

.today-card {
    opacity: 1;
    height: 250px;
    min-width: 180px;
    margin: 10px;
    font-size: 8px;
}

.today-course-title{
    overflow: hidden;
}

.today-card-details{
    font-size: .8rem !important;
}

.OP-paper{
    background: rgba(255, 255, 255, 0.6) !important;
    height: 300px;
    margin: 10px;
}

.unpaid-container{
    height: 300px;
    flex-shrink: 0 !important;
    overflow: hidden;
    overflow-x: scroll;
}

.db-notes-container{
    margin: 20px;
    padding: 20px;
    // display: inline-table;
    height: 90%;
}

.db-notes-paper{
    height: 70vh;
    overflow-y: scroll;
    margin-top: 82px;
}

