/* Dashboard Styling */
.Dashboard {
    .Root {
        flex-grow: 1;
    }

    .Paper {
        height: 140;
        width: 100;
    }
    .DashboardNotes {
        height: 400;
        width: 300;
        float: right;
    }
}