/* Dashboard Styling */
.Dashboard {
    .Root {
        flex-grow: 1;
    }

    .Paper {
        height: 140;
        width: 100;
    }

    
}

.Today {
    .hello-user {
        font-size: 36px;
        color: red;
    }
}

