@import '../../../theme/colors';
@import '../../../theme/sizes';

.category-row{
  padding:5px 5px 5px 15px;
  &.new-category{
    margin:10px;
    padding:10px;
  }

  .field{
    width:80%;
  }

  .add-category{
    margin-top:2%;
    background-color:$primaryColor;
    color:white;
  }
}

.tuition-field {
  width:80%;
  .menu-item{
    text-align: left;
  }
}

.registration-buttons{
  padding-top: 10px;
  
  .icon{
    margin-right: 10px;
  }
}