@import '../../../theme/colors';
@import '../../../theme/sizes';

.category-row{
  padding:5px 5px 5px 15px;
  &.new-category{
    margin:10px;
    padding:10px;
  }

  .field{
    width:80%;
  }

  .add-category{
    margin-top:2%;
    color:white;
  }
}

.tuition-field {
  width:80%;
}

.admin-actions-wrapper{
  margin-top:25px !important;
  margin-bottom: 30px !important;

  .button{
    color: #575757;
    &.active{
      background-color:$primaryDarkColor;
      color:white;
      border: $primaryDarkColor 1px solid !important;
    }

    .admin-action-icon{
      margin-right:10px;

      &.active{
        color:white;
      }
    }
  }
}

/*Discounts*/
.discount-type-wrapper{
  margin-top:20px;
  margin-bottom:15px;
}

.table-header {
   color: white;
   font-weight: 500;
}

/* Unpaid Sessions */
.unpaid-sessions-card {
  height: 26vh;
  width: 14vw;
  margin: 10px;
  padding: 12px;

  .unpaid-avatar-container {
    justify-content: center;
    display: flex;

    .unpaid-avatar {
      color: white;
      margin: 9px;
      width: 47px;
      height: 47px;
      font-size: 20px;
      align-self: center;
      font-family: Roboto;
    }
  }

  .unpaid-details {
    text-align: left;

    .unpaid-student-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
    }

    .unpaid-role-label {
      background-color: #378BFF;
      border-radius: 50px;
      color: white;
      height: 30px;
      margin: 10px;
      padding: 5px;
      font-size: 14px;
      align-self: center;
      text-align: center;
    }

    .unpaid-status-info {
      font-size: 14px;
    }

    .unpaid-status {
      color: black;
      height: 30px;
      width: 30px;
      line-height: 1;
      margin: auto;
      padding: 10px;
      border-radius: 50%;
      display: inline-block;
    }
  }
}
