@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timeline/main.css';
@import '~@fullcalendar/resource-timeline/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '../../../theme/colors';
@import '../../../theme/sizes';

// Session view



.session-button{
   .button {
     left: 30px;
     top: 15px;
   }
}
.main-session-view{
  margin-top: 2em
}

.session-footer-buttons{
    display: flex;
    width: 50%;

}
.session-view{
  padding-left: 
  2%
}

.session-view-details{
  padding-left: 1%;
  @include respond-to(handhelds){
    margin-top: 50px;
  }

  h5{
    font-weight: 500
  }
  
}

.fc-now-indicator{
  border : 0 solid #43B5D9;
}

// ToolTip css are styled ul's
.toolTip{
  .ul{
    padding-inline-start: 0 !important;
    list-style : none;
    
  }
  .container{
    line-height: 2rem;

  .clock_icon{
  background-image: url('./icons/icons8-clock-64.png');
  margin: 0;
	padding-left: 25px ;
	list-style: none;
	background-repeat: no-repeat;
	background-position: left center;
  background-size: 20px;
  
  
}

.pin_icon{
    background-image: url('./icons/icons8-place-marker-50.png');
    margin: 0;
    padding-left: 25px ;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.teacher_icon{
  background-image: url('./icons/icons8-teacher-24.png');
  margin: 0;
  padding-left: 25px ;
  list-style: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}
.discription_icon{
  background-image: url('./icons/icons8-topic-32.png');
  margin: 0;
  padding-left: 25px ;
  list-style: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  line-height: 1.2rem;
 
 }


  }
}


  
// Tool tip styling 

.tippy-tooltip.light-theme {
  background: white;
  text-align: left;
  border: 1px solid #c6c6c6;
  color: #000000;
  box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.25);
  max-width: 260px !important;
  
}

.tippy-tooltip.light-theme .tippy-backdrop {
  background-color: #ffffff;
  
}
.session-view-title{
  padding: 1%;
}




.session-detail-action-control{
  padding: 1%;
  @include respond-to(handhelds){
    margin-top:50px;
  }

  .button{
    background-color:white;
    @include respond-to(medium-up-screens){
      margin-right:30px;
      height: 46px;
      //width: 145px;
    }
    @include respond-to(handhelds){
      margin-right:5px;
      height: 46px;
      //width: 110px;
    }

    color:$primaryFontColor;
    font-size:12px;
    font-weight:400;
    line-height:12px;
    

    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;

    z-index:1001;

    .icon{
      margin-right:4px;
      color:$secondaryFontColor;
      @include respond-to(handhelds){
        font-size:1.5em;
      }
    }
  }
}


.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.demo-app-calendar {
  margin: 0 auto;
  max-width: 897px;
}
.fc-view, .fc-view > table{
  z-index: 0;
}