
@import '../../../theme/colors';
@import '../../../theme/sizes';
.search{
  .primary-filter{
  }
}
.search-input{
  .main-search__control{
    border-width:1px 0;
    border-radius:0;
    background-color:#EEEEEE;
    .main-search__value-container{
      color:$secondaryFontColor;
    }
  }
}

.AccountsCards{
  .userLabel {
    color: white;
    font-size: 10px;
    padding: -5%;
    width:80px;
    height:20px;
    &.instructor {
      background-color: $instructorColor;
    }
    &.student {
      background-color: $studentColor;
    }
    &.receptionist {
      background-color: $receptionistColor;
    }
    &.parent {
      background-color: $parentColor;
    }
  }
  .cardText{
    font-size:10px;
    text-align:left;
  }
}


#select-primary-filter{
  height: 22px;
  border: 1px solid #EEEEEE;
  background: #FFFFFF;
  border-radius: 3px 0px 0px 3px;
  padding-top : 8px;
}

#menu-primary-filter{
  z-index:10000;
}

.button-background{
  background-color: #43B5D9 !important;
  
}

.searchIcon{
  color: #EEEEEE;
}