
@import '../../../theme/colors';
@import '../../../theme/sizes';
.search{
  .primary-filter{
  }
}
.search-input{
  .main-search__control{
    border-width:1px 0;
    border-radius:0;
    background-color:#EEEEEE;
    .main-search__value-container{
      color:$secondaryFontColor;
    }
  }
}


#select-primary-filter{
  height: 22px;
  border: 1px solid #EEEEEE;
  background: #FFFFFF;
  border-radius: 3px 0px 0px 3px;
  padding : 8px 25px 7px 15px;
}

#menu-primary-filter{
  z-index:10000;
}

.button-background{
  
  background-color: #43B5D9 !important;
  
}

.searchIcon{
  color: #EEEEEE;
}

.main-search-view{
  width: 100%;
}


