.note {
    height: 250px;
    position: relative;
    padding: 7%;

    .noteNotification {
        float: right;
        cursor: pointer;
    }

    .header {
        font-size: 1.2em;
        font-weight: bold;
    }

    .body {
        white-space: pre-wrap;
        font-size: 1.2em;
    }

    .date {
        position: absolute;
        bottom: 5%;
        width: 85%;
        text-align: left;
    }

    .icon {
        font-size: 16px;
        cursor: pointer;
    }
}

.popup {
    min-height: 381px;
    max-height: 450px;
    margin: auto;

    .textfield {
        width: 80%;
        text-align: left;
    }

    .note-body {
        width: 100%;
    }

    .notification {
        right: 10%;
        font-size: 40px;
        position: absolute;
    }
}
