/*Font Colors*/
$primaryFontColor: #000000;
$lightPrimaryFontColor: #6C6A6A;
$secondaryFontColor: #228eb2;

/*Theme Colors*/
$secondaryColor: #29abd6;
$secondaryDarkenColor: #2085a5;
$secondaryHighlightColor: #D7F5FF;