/*Font Colors*/
$primaryFontColor: #000000;
$lightPrimaryFontColor: #767474;
$darkenPrimaryFontColor: #2f2e2e;
$secondaryFontColor: #228eb2;

/*Theme Colors*/
$secondaryColor: #29abd6;
$secondaryDarkenColor: #2085a5;
$secondaryHighlightColor: #D7F5FF;