/*Font Colors*/
$primaryFontColor: #000000;
$lightPrimaryFontColor: #767474;
$darkenPrimaryFontColor: #2f2e2e;
$secondaryFontColor: #228eb2;

/*Theme Colors*/
//$secondaryHighlightColor: #D7F5FF;

// New Theme Colors
$primaryDarkColor: #1F82A1;
$primaryColor: #43B5D9;
$primaryLightColor: #EBFAFF;
$secondaryColor: #DBD7D7;

// New Font Colors
$primaryFontColor: #666666;
$secondaryFontColor: #565656;
$secondaryLightFontColor: #F5F5F5;

// Background color
$paperColor: #FAFAFA;

//UserLabel colors
$instructorColor: #1FA18A;
$studentColor: #37ABFF;

// status colors
$goodStatusColor: #13D70F;
$warningStatusColor: #F8D000;
$badStatusColor: #FC1414;