/*Breakpoints*/
$break-small:500px;
$break-large:1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == medium-up-screens{
    @media only screen and (min-width: $break-small + 1) { @content; }
  }
}

/*Font-sizes*/
$navigationSize:14px;

/*Component sizes*/
$drawerWidth: 233px;

