@import '../../../theme/colors';
@import '../../../theme/sizes';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

/*Account Styles*/
.Accounts {
    .paper {
        padding: 3%;
    }
    .toggleView {
        right: 10%;
    }

    .Directory {
        text-align: left;
        font-size: 60px;
    }
    .tabs {
        text-align: left;
        left: 0;
        height: 0;

        .tab {
            min-width: 130px;
        }
    }
    .heading {
        margin: 25px 0;
    }

    .card-container {
        margin-top: 20px;
    }

    .toggleView {
        .btn {
            color: $lightPrimaryFontColor;
            border-radius: 5px;
            box-sizing: border-box;
            border: solid 2px $secondaryColor !important;
            white-space: nowrap;
            right: -20%;
            margin-left: 5px;
            width: 8rem;

            &.active {
                border: solid 2px $primaryColor !important;
                color: $primaryColor;
                background-color: #ebfaff;
            }
            .paper {
                padding: 3%;
            }
            .toggleView {
                right: 10%;
            }

            .Directory {
                text-align: left;
                font-size: 60px;
            }
            .tabs {
                text-align: left;
                left: 0;
                height: 0;

                .tab {
                    min-width: 130px;
                }
            }
            .heading {
                margin: 25px 0;
            }

            .card-container {
                margin-top: 20px;
            }

            .toggleView {
                .btn {
                    color: $lightPrimaryFontColor;
                    border-radius: 5px;
                    box-sizing: border-box;
                    border: solid 2px $secondaryColor !important;
                    white-space: nowrap;
                    right: -20%;
                    margin-left: 5px;
                    width: 8rem;

                    &.active {
                        border: solid 2px $primaryColor !important;
                        color: $primaryColor;
                        background-color: #ebfaff;
                    }
                }
            }

            .AccountsTable {
                margin-top: 20px;

                .row {
                    cursor: pointer;
                    text-decoration: none;
                }

                .editButton {
                    color: $lightPrimaryFontColor;
                    border-radius: 5px;
                    box-sizing: border-box;
                    border: solid 2px $secondaryColor !important;
                    white-space: nowrap;
                }

                .accountsCell {
                    width: 220px;
                    overflow-wrap: break-word;
                }
                .accountsCellID {
                    width: 100px;
                    overflow-wrap: break-word;
                }
            }
        }
    }
}

.oooDialog {
    font-family: Roboto Slab;
    .title {
        font-weight: bold;
        font-size: 36px;
        line-height: 47px;
    }
    .instructor {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    .button {
        font-weight: normal;
        font-size: 12px;
    }
    .select {
        font-size: 14px;
        line-height: 16px;
        padding: 5% 0 5% 0;
    }
    .checkbox {
        margin-top: 30px;
    }
    .checkboxText {
        margin-top: 45px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
    }
    .save-availability {
        color: white;
    }
}

/*Profile Heading Styles*/
.UserProfile {
    .profile-component-container {
        padding-top: 15px;
    }

    .schedule-button {
        margin-bottom: 10px;
    }

    .paper {
        padding: 3%;

        .headingPadding {
            padding-left: 3%;
        }

        .gridScaling {
            white-space: nowrap;
        }

        .headingContainer {
            display: grid;
        }

        .ProfileName {
            word-break: break-word;
        }

        .emailPadding,
        .rowPadding {
            display: flex;
            padding: 4px;
            text-align: left;
            color: grey;
            .rowText {
                word-break: break-word;
            }
            .iconScaling {
                font-size: 24px;
            }
        }
        .emailPadding {
            cursor: pointer;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        .editButton {
            color: $darkenPrimaryFontColor;
            box-sizing: border-box;
            border: solid 2px $secondaryColor !important;
            white-space: nowrap;
            position: relative;
            font-size: 0.9em !important;
            > * {
                font-size: 0.9em !important;
            }
        }
    }

    .padding {
        padding-bottom: 4%;
        padding-top: 3%;
    }

    .TabIcon {
        display: inline-flex;
        vertical-align: middle;
    }
    .notification {
        background-color: orange;
        position: absolute;
        top: 10px;
        left: 2.9em;
        @include respond-to(medium-screens) {
            left: 1.4em;
        }
        @include respond-to(handhelds) {
            left: 1.4em;
        }
    }
    .left-align {
        margin-left: -40%;
    }
}

.ProfileCard,
.UserProfile {
    .profileIcons {
        font-size: 24px;
    }

    .card-content {
        margin-top: 10px;
    }

    .profile-details {
        margin: 10px 0;
    }

    .userLabel {
        color: white;
        font-size: 18px;
        padding: 0 20px 0 20px;

        &.instructor {
            background-color: $instructorColor;
        }

        &.student {
            background-color: $studentColor;
        }

        &.receptionist {
            background-color: $receptionistColor;
        }

        &.parent {
            background-color: $parentColor;
        }
    }
}

.ProfileCard {
    text-decoration: none;
    cursor: pointer;
}

.avatar {
    color: white;
}

.editResetDiv {
    border: solid 2px $primaryColor;
    position: relative;
    top: 22px;
    left: -10px;
    border-radius: 10px;
    width: 170px;
    display: none;
}

.editIcon:hover + .editResetDiv {
    display: inline;
}

.editResetDiv:hover {
    display: inline;
}

.reset {
    border-radius: 0px 0px 8px 8px !important;
    width: 100%;
    text-align: right;
    justify-content: flex-end !important;
    justify-content: left !important;
    border: none !important;
}

.edit {
    border-radius: 8px 8px 0px 0px !important;
    width: 100%;
    height: 40px;
    justify-content: left !important;
}

.reset:hover {
    background-color: #ebfaff !important;
    color: #43b5d9 !important;
}

.edit:hover {
    background-color: #ebfaff !important;
    color: #43b5d9 !important;
}

.resetBtn {
    background-color: #eb5757 !important;
    color: white !important;
    margin-left: 40px !important;
    width: 200px;
}

.cancelBtn {
    background: #ffffff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    color: #289fc3 !important;
    height: 43px;
}

.doneBtn {
    background: #289fc3 !important;
    border: 2px solid #289fc3 !important;
    box-sizing: border-box !important;
    border-radius: 5px !important;
    color: white !important;
}

.center {
    text-align: center;
}

.dialog-padding {
    padding: 20px 40px 5px 40px !important;
}

.dialog-actions {
    padding-bottom: 30px !important;
    padding-top: 0px !important;
    margin: auto;
}

.passwordDisplay {
    color: #43b5d9 !important;
    font-size: 25px !important;
}

a {
    color: black;
}
