@import "../../../theme/colors";
@import "../../../theme/sizes";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");

/*Account Styles*/
.Accounts {
  .paper {
    padding: 3%;
  }
  .toggleView {
    position: absolute;
    right: 10%;
  }

  .Directory {
    text-align: left;
    font-size: 60px;
  }

  .heading {
    margin: 25px 0;
  }

  .AccountsTable {
    margin-top: 20px;

    .row {
      cursor: pointer;
    }

    .editButton {
      color: $darkenPrimaryFontColor;
      border-radius: 0px;
      box-sizing: border-box;
      border: solid 2px $secondaryColor !important;
      white-space: nowrap;
      right: 10%;
    }
  }
}

/*Profile Heading Styles*/
.UserProfile {
  .paper {
    padding: 3%;

    .ActionTable {
      margin-top: -20px;
    }

    .headingPadding {
      padding-left: 3%;
    }

    .gridScaling {
      white-space: nowrap;
    }

    .headingContainer {
      display: grid;
    }

    .ProfileName {
      word-break: break-word;
    }

    .emailPadding,
    .rowPadding {
      display: flex;
      padding: 4px;
      align-content: left;
      text-align: left;
      color: "grey";
      .rowText {
        word-break: break-word;
      }
      .iconScaling{
        font-size:24px;
      }
    }
    .emailPadding {
      cursor: pointer;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .editButton {
      color: $darkenPrimaryFontColor;
      border-radius: 0px;
      box-sizing: border-box;
      border: solid 2px $secondaryColor !important;
      white-space: nowrap;
      position: relative;
    }
  }

  .padding {
    padding-bottom: 4%;
    padding-top: 3%;
  }

  .TabIcon {
    display: inline-flex;
    vertical-align: middle;
  }

  .left-align {
    margin-left: -40%;
  }
}

.ProfileCard,
.UserProfile {
  .userLabel {
    color: white;
    font-size: 18px;
    padding: 0 20px 0 20px;

    &.instructor {
      background-color: $instructorColor;
    }

    &.student {
      background-color: $studentColor;
    }

    &.receptionist {
      background-color: $receptionistColor;
    }

    &.parent {
      background-color: $parentColor;
    }
  }
}
