@import "../../../theme/colors";
@import "../../../theme/sizes";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");

/*Account Styles*/
.Accounts {
  .paper {
    padding: 3%;
  }
  .toggleView {
    position: absolute;
    right: 10%;
  }

  .Directory {
    text-align: left;
    font-size: 60px;
  }

  .heading {
    margin: 25px 0;
  }

  .toggleView {
    .btn {
      color: $lightPrimaryFontColor;
      border-radius: 5px;
      box-sizing: border-box;
      border: solid 2px $secondaryColor !important;
      white-space: nowrap;
      right: -20%;
      margin-left: 5px;

      &.active {
        border: solid 2px $primaryColor !important;
        color: $primaryColor;
      }
    }
  }

  .AccountsTable {
    margin-top: 20px;

    .row {
      cursor: pointer;
    }

    .editButton {
      color: $lightPrimaryFontColor;
      border-radius: 5px;
      box-sizing: border-box;
      border: solid 2px $secondaryColor !important;
      white-space: nowrap;
      right: 10%;
    }
  }
}

.oooDialog {
  font-family: Roboto Slab;
  .title {
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
  }
  .instructor {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .button {
    background: #ffffff;
    border: 2px solid #dbd7d7;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
  .select {
    font-size: 14px;
    line-height: 16px;
    padding: 5% 0 5% 0;
  }
  .checkbox {
    margin-top: 30px;
  }
  .checkboxText {
    margin-top: 45px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
}

/*Profile Heading Styles*/
.UserProfile {
  .paper {
    padding: 3%;

    .ActionTable {
      margin-top: -20px;
    }

    .headingPadding {
      padding-left: 3%;
    }

    .gridScaling {
      white-space: nowrap;
    }

    .headingContainer {
      display: grid;
    }

    .ProfileName {
      word-break: break-word;
    }

    .emailPadding,
    .rowPadding {
      display: flex;
      padding: 4px;
      text-align: left;
      color: grey;
      .rowText {
        word-break: break-word;
      }
      .iconScaling {
        font-size: 24px;
      }
    }
    .emailPadding {
      cursor: pointer;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .editButton {
      color: $darkenPrimaryFontColor;
      border-radius: 0px;
      box-sizing: border-box;
      border: solid 2px $secondaryColor !important;
      white-space: nowrap;
      position: relative;
      font-size: 0.9em !important;
      > * {
        font-size: 0.9em !important;
      }
    }
  }

  .padding {
    padding-bottom: 4%;
    padding-top: 3%;
  }

  .TabIcon {
    display: inline-flex;
    vertical-align: middle;
  }
  .notification {
    background-color: orange;
    position: absolute;
    top: 10px;
    left: 2.9em;
    @include respond-to(medium-screens) {
      left: 1.4em;
    }
    @include respond-to(handhelds) {
      left: 1.4em;
    }
  }
  .left-align {
    margin-left: -40%;
  }
}

.ProfileCard,
.UserProfile {
  .profileIcons {
    font-size: 24px;
  }
  .userLabel {
    color: white;
    font-size: 18px;
    padding: 0 20px 0 20px;

    &.instructor {
      background-color: $instructorColor;
    }

    &.student {
      background-color: $studentColor;
    }

    &.receptionist {
      background-color: $receptionistColor;
    }

    &.parent {
      background-color: $parentColor;
    }
  }
}
