/*Font Colors*/
$primaryFontColor: #000000;
$lightPrimaryFontColor: #767474;
$darkenPrimaryFontColor: #2f2e2e;
$secondaryFontColor: #228eb2;

/*Theme Colors*/
//$secondaryHighlightColor: #D7F5FF;

// New Theme Colors
$primaryDarkColor: #1f82a1;
$primaryColor: #43b5d9;
$primaryLightColor: #ebfaff;
$secondaryColor: #dbd7d7;
$darkGray: #666666;

// New Font Colors
$primaryFontColor: #666666;
$secondaryFontColor: #565656;
$secondaryLightFontColor: #f5f5f5;

// Background color
//$paperColor: #FAFAFA;
$paperColor: white;
//UserLabel colors
$instructorColor: #1fa18a;
$studentColor: #37abff;
$receptionistColor: #d04e3d;
$parentColor: #812cd7;

//Bio colors
$bioChipColor: #ebfaff;
$bioBorderColor: #43b5d9;
$bioBackgroundColor: #f5f5f5;

// status colors
$goodStatusColor: #13d70f;
$warningStatusColor: #f8d000;
$badStatusColor: #fc1414;
$badActionColor: #e74c3c;
$neutralStatusColor: #34495e;
