@import '../theme/colors';
@import '../theme/sizes';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

//Fonts
.heading {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.button {
    color: $primaryFontColor;
    border-radius: 5px;
    border: solid 2px #dbd7d7 !important;
    background-color: white;
    .icon > * {
        color: $primaryFontColor;
    }
}

.primary.button {
    border: none !important;
    background-color: $primaryColor;
    color: white;
}

.paper {
    background-color: $paperColor !important;
}

.top-divider {
    margin-bottom: 20px !important;
}

.status {
    width: 150px;
    height: 30px;
    margin: 5px;
    position: absolute;
    right: 10px;

    background: #ffffff;
    border: 1px solid $primaryColor;
    box-sizing: border-box;
    border-radius: 100px;

    .text {
        font-size: 12px !important;
        padding: 5px 0 0 0;
    }
}

hr {
    border: 1px solid $secondaryColor;
}

.info {
    border: solid 2px #b6b6b6;
    background-color: #d1d1d1 !important;
    > * {
        color: $primaryFontColor !important;
    }
    padding: 2%;
}

.course-icon {
    margin-bottom: -5px;
    margin-left: 5px;
    &.confirmed {
        color: $goodStatusColor;
    }
    &.unconfirmed {
        color: $badActionColor;
    }
}

.shadow-drop-tb {
    -webkit-animation: shadow-drop-tb 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: shadow-drop-tb 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-3-6 16:59:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-tb
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-tb {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35),
            0 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35),
            0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}
@keyframes shadow-drop-tb {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35),
            0 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35),
            0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

// ボールのサイズ
$width: 15px;
$height: 15px;

// バウンドの距離
$bounce_height: 30px;

.small-load-wrap {
    position: relative;
    width: 100%;
    height: 20vh;
    //font-family: Montserrat;
}
.load-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-load-text {
    color: $primaryColor;
    display: inline-block;
    margin-left: 5px;
}

.bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: $width;
    &:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        width: $width;
        height: $height;
        border-radius: 50%;
        background-color: #fbae17;
        transform-origin: 50%;
        animation: bounce 500ms alternate infinite ease;
    }
}

@keyframes bounce {
    0% {
        top: $bounce_height;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: $height;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}

.App {
    text-align: center;
}

a {
    color: #1f82a1;
    font-family: Roboto;
    font-weight: 500;
    line-height: 12px !important;
    font-size: 14px;
    text-decoration: none;
}
