@import "../../../../theme/colors";
@import "../../../../theme/sizes";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,700");

/* Notes */
.note,
.ParentContact {
  height: 250px;
  position: relative;
  padding: 7%;

  .noteNotification {
    float: right;
    color: red;
    cursor: pointer;
  }

  .actions {
    text-align: right;
    bottom: 5%;
    width: 85%;
    position: absolute;
  }

  &:hover {
    .actions {
      opacity: 1;
    }
  }

  .header {
    font-size: 1.2em;
    font-weight: bold;
  }

  .body {
    white-space: pre-wrap;
    font-size: 1.2em;
  }

  .date {
    position: absolute;
    bottom: 5%;
    width: 85%;
    text-align: left;
  }

  .icon {
    font-size: 16px;
  }
}

.addNote {
  height: 250px;
  position: relative;
  padding: 7%;
  background: #f5f5f5;
  border: 1.5px solid #999999;
  border-style: dashed;

  .center {
    margin-top: 35%;
  }
}

.popup {
  .popUpActions {
    position: absolute;
    bottom: 5%;
  }

  .exit-popup {
    padding-top: 0%;
    min-height: 381px;
    min-width: 381px;

    .textfield {
      width: 80%;
      text-align: left;
    }

    .note-body {
      width: 100%;
    }

    .notification {
      margin-top: 7%;
      right: 10%;
      font-size: 40px;
      position: absolute;
    }

    .bodyfield {
      width: 100%;
      text-align: left;
    }
  }
}

.Bio,
.Bio2 {
  position: relative;
  text-align: left;

  .Bio1 {
    right: 9%;
    padding: 5%;
    margin-top: -5%;

    .bioHeader {
      font-weight: bold;
      font-size: 20px;
      font-family: Roboto Slab;
    }

    .bioBody {
      font-size: 14px;
    }
  }

  .BioBackground {
    background-color: $bioBackgroundColor;
    position: relative;
    padding: 5%;

    .rowPadding {
      padding: 3%;
      margin-top: -5%;
      display: relative;
      align-content: left;

      .bioDescription {
        font-weight: 500;
        font-size: 16;
        padding-top: 4%;
        padding-bottom: -5%;
        padding-right: 5%;
        white-space: nowrap;
      }
    }

    .chipPadding {
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 3%;
      padding-bottom: 2%;

      .bioChip {
        background-color: $bioChipColor;
        border-color: $bioBorderColor;
      }
    }
  }
}

.ParentContact {
  .parent-header {
    position: absolute;
    padding: 5%;
    background-color: $primaryColor;
    width: 100%;
    top: 0;
    left: 0;

    .header-text {
      margin-left: 20px;
      color: white;
      font-size: 20px;
    }
  }

  .actions {
    text-align: right;
    opacity: 0;
    margin-top: 40px;
  }

  .bodyText {
    font-size: 15px;
    word-break: break-all;
    margin-top: 15%;

    .bold {
      font-weight: 900;
    }
  }
}

/* Instructor Courses */
.accounts-table-heading,
.accounts-table-row>* {
  padding: 15px;
  cursor: pointer;
}

.accounts-table-heading,
.payment-table-heading {
  margin-bottom: 10px;
  background-color: $primaryColor;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.accounts-table-row {
  position: relative;

  &:hover {
    border-left: solid 5px $primaryColor;
  }

  .accounts-table-text {
    font-size: 12px;
  }
}

.sessions-left-chip {
  position: absolute;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 5px;
  top: 23%;
  right: 6%;

  color: $secondaryLightFontColor;

  &.good,
  &.Paid {
    background-color: $goodStatusColor;
  }

  &.warning,
  &.Waived {
    background-color: $warningStatusColor;
  }

  &.bad,
  &.Unpaid {
    background-color: $badStatusColor;
  }
}

.course-session-status {
  padding: 3%;

  .sessions-left-chip {
    border-radius: 15px;
    width: 150px;
    top: 23%;
    right: 8%;
  }

  .accounts-table-heading,
  .accounts-table-row>* {
    cursor: default;
  }
}

.payments-history {
  padding: 15px;
}
