.emailLogin {
    padding-top: 10%;
    .inputRounded .MuiOutlinedInput-root {
        border-radius: 50px;
    }
    .TextField fieldset {
        border-radius: 300px;
    }
    .TextField {
        padding-top: 3%;
        width: 80%;
        padding-bottom: 6%;
    }
    .welcomeText {
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: bold;
        font-size: 52px;
        line-height: 69px;
    }
    .signInButton {
        width: 80%;
        background: #ffffff;
        border: 1px solid #747d88;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        padding: 8px 0 8px 0;
        color: #666666;
    }
    .createAccountButton {
        width: 80%;
        background: #43b5d9;
        border: 1px solid #43b5d9;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        padding: 8px 0 8px 0;
        color: white;
    }
}
.ellipse1 {
    position: absolute;
    width: 1941.01px;
    height: 1304.46px;
    left: -776.74px;
    top: -635.8px;
    transform: matrix(0.98, 0.19, -0.19, 0.98, 0, 0);
}
.ellipse2 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.picture1 {
    position: absolute;
    bottom:0;
    left:0;
    font-size:10px;

}
