.emailLogin {
    .emailbutton {
        border-radius: 300px;
        background-color: red;
    }
    .inputRounded .MuiOutlinedInput-root {
        border-radius: 50px;
    }
    .TextField fieldset {
        border-radius: 300px;
    }
}
.ellipsis {
    position: absolute;
    width: 1941.01px;
    height: 1304.46px;
    left: -776.74px;
    top: -1135.8px;

    background: #d9f0f7;
    transform: matrix(0.98, 0.19, -0.19, 0.98, 0, 0);
}
