@import "../../theme/colors";
@import "../../theme/sizes";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");

.paper {
  padding: 3%;
  .center {
    margin: 15% 0 15% 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    .space {
      padding: 1%;
    }
  }
}
.backButton {
  color: $primaryFontColor;
  border-radius: 10px;
  padding: 5%;
  border: solid 2px #dbd7d7 !important;
  .buttonText {
    padding: 5%;
    font-size: 12px;
    padding:6%;
    font-weight: normal;
    text-transform: none;
  }
}
