:root {
    font-family: sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .screensaver {
    font-family: sans-serif;
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .screensaver__bouncer {
    position: absolute;
    left: 0;
    top: 0;
  }
  
